# Core functionality - changes here should be rare!
/src/app.py                   @RayPrem
/src/backend/database.py      @RayPrem
/src/backend/routers/auth.py  @RayPrem

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RayPrem
